*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.skillheading{
  padding-left: 30px;
  font-size: 23px;
  color:rgb(105, 105, 114);
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(239, 243, 243, 0.884);
  padding: 10px;
}
.skills{
  background: rgba(238, 248, 248, 0.644);
}